*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0 auto;
}

body {
  color: #262626;
  font-family: "Titillium Web",sans-serif;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main {
  margin: 0 auto;
}

button {
  background-color: #da0067;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  text-transform: capitalize;
}

button:hover {
  background-color: #7600da;
}

header {
  position: fixed;
  padding: 1.65rem 2.3rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
  background-color: #fff;
}

header .nav-container {
  margin: 0 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-container p {
  margin: 0;
  padding-left: 5px;
}

header .nav-container nav ul {
  margin: 0;
}

header .nav-container nav ul li {
  display: inline;
  text-decoration: none;
  padding: 15px;
}

header .nav-container nav ul li a {
  text-decoration: none;
  color: #262626;
  font-weight: bold;
}

header .nav-container nav ul li a:hover {
  color: #da0067;
}

header .nav-container nav ul li a i {
  vertical-align: bottom;
}

header .nav-container .header-buttons button {
  margin-left: 15px;
  margin-right: 15px;
}

header .nav-container .header-buttons button:nth-child(1) {
  background-color: #7600da;
}

.centered {
  width: 80%;
  margin: 0 auto;
}

#hero {
  background-image: url("../images/slider-doctor-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: -1;
}

#hero .hero-slide {
  background-color: #fff;
  margin: 0;
  padding: 4%;
  width: 50%;
  position: absolute;
  top: 25%;
}

#hero .hero-slide h2 {
  font-size: 6rem;
  margin: 0;
}

#hero .hero-slide h2 span {
  color: #da0067;
}

#hero .hero-slide h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
}

#hero .hero-slide h3::after {
  content: '';
  width: 73px;
  height: 3px;
  background-color: lightgray;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#hero .hero-slide p {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

.columns-container {
  padding: 7% 0;
  width: 65%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#features {
  width: 100%;
}

#features .column {
  width: 30%;
  padding: 5%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 25px 0px #d6c9d6;
          box-shadow: 0px 0px 25px 0px #d6c9d6;
}

#features .column i {
  font-size: 5rem;
  background: -webkit-gradient(linear, left top, right top, from(#da0067), to(#7600da));
  background: linear-gradient(to right, #da0067 0%, #7600da 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#features .column h3 {
  font-size: 1.5rem;
}

#features .column h3::after {
  content: '';
  width: 73px;
  height: 3px;
  background-color: lightgray;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin: 1.5rem auto;
}

#features .column p {
  font-size: 1.1rem;
  color: #9693a2;
  padding-bottom: 5%;
}

#trust {
  width: 100%;
  background-image: url("../images/bg-doctor-1.jpg");
  background-size: cover;
  position: relative;
}

#trust .trust-column1 {
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#trust .trust-column1 .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 5%;
}

#trust .trust-column1 h3 {
  color: white;
  font-size: 2rem;
  margin: 0;
}

#trust .trust-column1 p {
  color: white;
  font-size: 1.2rem;
  margin: 0;
}

#trust .trust-column2 {
  width: 50%;
  background-color: #fff;
  padding: 4%;
  position: relative;
  right: 0;
  top: 130px;
  -webkit-box-shadow: 0px 0px 25px 0px #d6c9d6;
          box-shadow: 0px 0px 25px 0px #d6c9d6;
}

#trust .trust-column2 h2 {
  font-size: 5rem;
  margin: 0;
  text-transform: capitalize;
}

#trust .trust-column2 h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
}

#trust .trust-column2 h3::after {
  content: '';
  width: 73px;
  height: 3px;
  background-color: lightgray;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#trust .trust-column2 p {
  font-size: 1.5rem;
}

#trust .trust-column2 .statistic {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#trust .trust-column2 .statistic h4 {
  font-size: 3rem;
  color: #da0067;
  margin: 0;
}

#trust .trust-column2 .statistic p {
  margin: 0;
  font-weight: bold;
}

#about {
  width: 100%;
  padding: 7% 0;
}

#about .centered {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about .about-column1 {
  width: 45%;
  background-image: url("../images/bg-doctor-2.jpg");
  background-size: cover;
  padding: 5%;
  color: white;
}

#about .about-column1 h2 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
}

#about .about-column1 h2::after {
  content: '';
  width: 73px;
  height: 3px;
  background-color: lightgray;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #fff;
}

#about .about-column1 p {
  font-size: 1.4rem;
}

#about .about-column1 .testimonial-footer .img-container {
  width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about-column1 .testimonial-footer .img-container .circle-border {
  width: 30px;
  height: 30px;
  margin: 2%;
  background-image: url("../images/1testim-150x150.jpg");
  background-size: cover;
  border-radius: 50%;
  opacity: 0.7;
}

#about .about-column1 .testimonial-footer .img-container .circle-border:nth-child(2) {
  opacity: 1;
}

#about .about-column1 .testimonial-footer p {
  font-size: 1rem;
  font-weight: 700;
}

#about .about-column2 {
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about .about-column2 .card {
  margin-top: 10%;
  width: 45%;
  text-align: center;
  padding: 5%;
  -webkit-box-shadow: 0px 0px 25px 0px #d6c9d6;
          box-shadow: 0px 0px 25px 0px #d6c9d6;
}

#about .about-column2 .card i {
  font-size: 5rem;
  background: -webkit-gradient(linear, left top, right top, from(#da0067), to(#7600da));
  background: linear-gradient(to right, #da0067 0%, #7600da 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about .about-column2 .card h3 {
  font-size: 1.5rem;
}

#about .about-column2 .card h3::after {
  content: '';
  width: 73px;
  height: 3px;
  background-color: lightgray;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin: 1.5rem auto;
}

#about .about-column2 .card p {
  font-size: 1.1rem;
  color: #9693a2;
  padding-bottom: 5%;
}

#about .about-column2 .card button {
  background: none;
  color: #da0067;
}

#about .about-column2 .card button:hover {
  color: #7600da;
}

#services .container {
  text-align: center;
}

#services .container h2 {
  font-size: 5rem;
  margin: 0;
}

#services .container h3 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0;
}

#services .container h3::after {
  content: '';
  width: 73px;
  height: 3px;
  background-color: lightgray;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin: 1.5rem auto;
}

#services .container .columns-container {
  padding-top: 2%;
}

#services .container .columns-container .column {
  width: 30%;
  padding-top: 0;
  padding-bottom: 5%;
  -webkit-box-shadow: 0px 0px 25px 0px #d6c9d6;
          box-shadow: 0px 0px 25px 0px #d6c9d6;
}

#services .container .columns-container .column .bg-img {
  background-image: url("../images/01.jpg");
  background-size: cover;
  height: 200px;
  width: 100%;
  position: relative;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#services .container .columns-container .column .bg-img:hover {
  opacity: 0.7;
}

#services .container .columns-container .column .bg-img:hover p {
  bottom: 30%;
}

#services .container .columns-container .column .bg-img p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 5rem;
  font-weight: 700;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: -2.5rem;
  line-height: 5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#services .container .columns-container .column h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 5%;
}

#services .container .columns-container .column h3::after {
  content: '';
  width: 73px;
  height: 3px;
  background-color: lightgray;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin: 1.5rem auto;
}

#services .container .columns-container .column p {
  font-size: 1.1rem;
  color: #9693a2;
  padding-bottom: 5%;
}

#services .container a {
  margin-top: 5%;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#services .container a:hover {
  color: #7600da;
}

#prolong {
  padding: 5% 0;
  background-image: url("../images/bg-doctor-3.jpg");
  background-size: cover;
}

#prolong .centered {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#prolong .prolong-column1 {
  width: 45%;
  padding: 4% 5%;
  background-color: #fff;
}

#prolong .prolong-column1 h2 {
  font-size: 5rem;
  margin: 0;
  text-transform: capitalize;
  line-height: 5rem;
}

#prolong .prolong-column1 h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
}

#prolong .prolong-column1 h3::after {
  content: '';
  width: 73px;
  height: 3px;
  background-color: lightgray;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#prolong .prolong-column1 p {
  font-size: 1.1rem;
  color: #9693a2;
}

#prolong .prolong-column2 {
  width: 50%;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

#prolong .prolong-column2 .card {
  width: 100%;
  height: 46%;
  background-color: #fff;
}

#prolong .prolong-column2 .card .left-img {
  width: 35%;
  background-image: url("../images/05-500x500.jpg");
  background-size: cover;
}

#prolong .prolong-column2 .card .right-text {
  width: 65%;
  padding: 4%;
}

#prolong .prolong-column2 .card .right-text h3 {
  font-size: 1.5rem;
  margin: 0;
}

#prolong .prolong-column2 .card .right-text h3::after {
  content: '';
  width: 73px;
  height: 3px;
  background-color: lightgray;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#prolong .prolong-column2 .card .right-text .card-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#prolong .prolong-column2 .card .right-text .card-footer a {
  text-decoration: none;
  color: #9693a2;
}

#prolong .prolong-column2 .card .right-text button {
  background: none;
  color: #da0067;
  padding-left: 0;
  font-weight: bold;
}

#prolong .prolong-column2 .card .right-text button:hover {
  color: #7600da;
}
/*# sourceMappingURL=main.css.map */