*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0 auto;
}

body {
  color: #262626;
  font-family: "Titillium Web",sans-serif;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main {
  margin: 0 auto;
}

button {
  background-color: #da0067;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

header {
  position: fixed;
  padding: 1.65rem 2.3rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
  background-color: #fff;
}

header .nav-container {
  margin: 0 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-container p {
  margin: 0;
  padding-left: 5px;
}

header .nav-container nav ul {
  margin: 0;
}

header .nav-container nav ul li {
  display: inline;
  text-decoration: none;
  padding: 15px;
}

header .nav-container nav ul li a {
  text-decoration: none;
  color: #262626;
  font-weight: bold;
}

header .nav-container nav ul li a:hover {
  color: #da0067;
}

header .nav-container nav ul li a i {
  vertical-align: bottom;
}

header .nav-container .header-buttons button {
  margin-left: 15px;
  margin-right: 15px;
}

header .nav-container .header-buttons button:nth-child(1) {
  background-color: #7600da;
}

#hero {
  background-image: url("../images/slider-doctor-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: -1;
}

#hero .hero-slide {
  background-color: #fff;
  margin: 0;
  padding: 4%;
  width: 40%;
  position: absolute;
  left: 8%;
  top: 25%;
}

#hero .hero-slide h2 {
  font-size: 6rem;
  margin: 0;
}

#hero .hero-slide h2 span {
  color: #da0067;
}

#hero .hero-slide h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
}

#hero .hero-slide h3::after {
  content: '';
  width: 73px;
  height: 3px;
  background-color: lightgray;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#hero .hero-slide p {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

#features {
  width: 100%;
}

#features .columns-container {
  padding: 10% 0;
  width: 70%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#features .columns-container .column {
  width: 28%;
  padding: 5%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 77px 0px #7d747d;
          box-shadow: 0px 0px 77px 0px #7d747d;
}

#features .columns-container .column i {
  font-size: 5rem;
  background: -webkit-gradient(linear, left top, right top, from(#da0067), to(#7600da));
  background: linear-gradient(to right, #da0067 0%, #7600da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#features .columns-container .column h3 {
  font-size: 1.5rem;
}

#features .columns-container .column h3::after {
  content: '';
  width: 73px;
  height: 3px;
  background-color: lightgray;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin: 1.5rem auto;
}

#features .columns-container .column p {
  font-size: 1.1rem;
  color: #9693a2;
  padding-bottom: 5%;
}
/*# sourceMappingURL=main.css.map */