*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0 auto;
}

body {
  color: #262626;
  font-family: "Titillium Web",sans-serif;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main {
  margin: 0 auto;
}

button {
  background-color: #da0067;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

header {
  position: fixed;
  padding: 1.65rem 2.3rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
  background-color: #fff;
}

header .nav-container {
  margin: 0 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-container p {
  margin: 0;
  padding-left: 5px;
}

header .nav-container nav ul {
  margin: 0;
}

header .nav-container nav ul li {
  display: inline;
  text-decoration: none;
  padding: 15px;
}

header .nav-container nav ul li a {
  text-decoration: none;
  color: #262626;
  font-weight: bold;
}

header .nav-container nav ul li a:hover {
  color: #da0067;
}

header .nav-container nav ul li a i {
  vertical-align: bottom;
}

header .nav-container .header-buttons button {
  margin-left: 15px;
  margin-right: 15px;
}

header .nav-container .header-buttons button:nth-child(1) {
  background-color: #7600da;
}

.centered {
  width: 80%;
  margin: 0 auto;
}

#hero {
  background-image: url("../images/slider-doctor-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: -1;
}

#hero .hero-slide {
  background-color: #fff;
  margin: 0;
  padding: 4%;
  width: 50%;
  position: absolute;
  top: 25%;
}

#hero .hero-slide h2 {
  font-size: 6rem;
  margin: 0;
}

#hero .hero-slide h2 span {
  color: #da0067;
}

#hero .hero-slide h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
}

#hero .hero-slide h3::after {
  content: '';
  width: 73px;
  height: 3px;
  background-color: lightgray;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#hero .hero-slide p {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

#features {
  width: 100%;
}

#features .columns-container {
  padding: 7% 0;
  width: 65%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#features .columns-container .column {
  width: 30%;
  padding: 5%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 25px 0px #d6c9d6;
          box-shadow: 0px 0px 25px 0px #d6c9d6;
}

#features .columns-container .column i {
  font-size: 5rem;
  background: -webkit-gradient(linear, left top, right top, from(#da0067), to(#7600da));
  background: linear-gradient(to right, #da0067 0%, #7600da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#features .columns-container .column h3 {
  font-size: 1.5rem;
}

#features .columns-container .column h3::after {
  content: '';
  width: 73px;
  height: 3px;
  background-color: lightgray;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin: 1.5rem auto;
}

#features .columns-container .column p {
  font-size: 1.1rem;
  color: #9693a2;
  padding-bottom: 5%;
}

#trust {
  width: 100%;
  background-image: url("../images/bg-doctor-1.jpg");
  background-size: cover;
  position: relative;
}

#trust .trust-column1 {
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#trust .trust-column1 .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 5%;
}

#trust .trust-column1 .circle .play-button {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #f8aa28;
}

#trust .trust-column1 h3 {
  color: white;
  font-size: 2rem;
  margin: 0;
}

#trust .trust-column1 p {
  color: white;
  font-size: 1.2rem;
  margin: 0;
}

#trust .trust-column2 {
  width: 50%;
  background-color: #fff;
  padding: 4%;
  position: relative;
  right: 0;
  top: 100px;
  border: 1px solid #9693a2;
}

#trust .trust-column2 h2 {
  font-size: 5rem;
  margin: 0;
  text-transform: capitalize;
}

#trust .trust-column2 h3 {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
}

#trust .trust-column2 h3::after {
  content: '';
  width: 73px;
  height: 3px;
  background-color: lightgray;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#trust .trust-column2 p {
  font-size: 1.5rem;
}

#trust .trust-column2 .statistic {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#trust .trust-column2 .statistic h4 {
  font-size: 3rem;
  color: #da0067;
  margin: 0;
}

#trust .trust-column2 .statistic p {
  margin: 0;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */